<div class="flex">
  <div class="scroll ">

      <%= render 'shared/list'%>

  </div>

  <div class="explore">
    <div class="container">
      <% @works.each do |w|%>
        <div class="work">
            <%= link_to work_path(w) do %>
            <% cover_photo = w.cover_photo %>
            <% cover_video = w.cover_video %>
              <%if cover_photo %>
                <%= image_tag cloudinary_delivery_url(cover_photo.url, width: 1200) %>
              <%elsif cover_video%>
                <div class="video-container">
                  <iframe width="" height="" src="https://www.youtube.com/embed/<%=cover_video.youtube_id%>" frameborder="0" allowfullscreen></iframe>
                </div>
              <%end%>
            <%end %>
            <% txtlink = "#{w.title}, #{w.year}"%>
              <%= link_to txtlink, work_path(w), class:'link'%>
        </div>
      <%end %>

    </div>
  </div>
</div>
