<div class="flex">
  <div class="scroll">
      <%= render 'shared/list'%>
  </div>
  <div class="show">
    <div class="container">
      <div class="work">
      <div class="entete"><h1>Speaking</h1></div>
        <div class="image">
          <%= image_tag cloudinary_delivery_url(@speaking.pic_url, width: 1200) if @speaking.pic_url.present? %>
        </div>
        <%= render 'speaking_logos', speaking_logos: @speaking_logos %>
        <div class="paragraph">
          <p><%= canonical_bio_sentence %></p>
          <% speaking_body = speaking_body_without_canonical_intro(@speaking.text) %>
          <%= simple_format(speaking_body) if speaking_body.present? %>
        </div>
        <% @speaking_videos.each do |video| %>
          <% if video.embed_url.present? %>
            <div class="video video-container">
              <iframe width="" height="" src="<%= video.embed_url %>" frameborder="0" allowfullscreen></iframe>
            </div>
          <% end %>
        <% end %>
      </div>
    </div>
  </div>
</div>
