<% content_for :head do %>
  <% if @speaking.seo_title.present? %>
    <title><%= @speaking.seo_title %></title>
  <% end %>
  <% if @speaking.seo_description.present? %>
    <meta name="description" content="<%= @speaking.seo_description %>">
  <% end %>
<% end %>

<div class="flex">
  <div class="scroll">
      <%= render 'shared/list'%>
  </div>
  <div class="show">
    <div class="container">
      <div class="work">
      <div class="entete"><h1>Speaking</h1></div>
        <div class="image">
          <%= image_tag cloudinary_delivery_url(@speaking.pic_url, width: 1200) if @speaking.pic_url.present? %>
        </div>
        <%= render 'speaking_logos', speaking_logos: @speaking_logos %>
        <div class="paragraph">
        <%= simple_format(@speaking.text) %>
        </div>
        <% @speaking_videos.each do |video| %>
          <% if video.embed_url.present? %>
            <div class="video video-container">
              <iframe width="" height="" src="<%= video.embed_url %>" frameborder="0" allowfullscreen></iframe>
            </div>
          <% end %>
        <% end %>
      </div>
    </div>
  </div>
</div>
