<!DOCTYPE html>
<html>
  <head>
    <title>roelheremans</title>
    <meta name="description" content="transdisciplinary artist working with sound, composed introspection and new technologies">
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csp_meta_tag %>
    <% if content_for?(:mailchimp_assets) %>
      <%= yield :mailchimp_assets %>
    <% end %>
    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_importmap_tags %>
    <link href="https://fonts.googleapis.com/css2?family=Inter:wght@400;700&family=Roboto:wght@400&display=swap" rel="stylesheet">
    <link rel="icon" type="image/png" href="https://res.cloudinary.com/dmbutdgsi/image/upload/v1726912622/fav_copie_llw4sj_copie_azkzbi.png">
    <%= yield :head %>
  </head>

  <body>
    <%= yield %>
  </body>
</html>
